# Backend
NC_ENV=dev
NC_POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/postgres
NC_VECTORDB_URL=http://localhost:6333
NC_OPENAI_API_KEY=
NC_STORAGE_DIR=.data/storage

# Mobile
EXPO_PUBLIC_API_BASE_URL=http://localhost:8000
